@import 'tailwindcss';
@config '../tailwind.config.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@plugin '@tailwindcss/typography';
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
    --font-ui: var(--font-english), var(--font-mincho), serif;
    --font-mono: var(--font-english-mono), monospace;
    --font-formal: var(--font-english-serif), var(--font-mincho), serif;
    --font-fancy: var(--font-english-fancy), var(--font-mincho), serif;
    --font-ja: var(--font-english-serif), var(--font-mincho), serif;
    --breakpoint-laptop: 950px;
}

@layer base {
    :root {
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
    }

    .dark {
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
    }
}