@import 'tailwindcss';
@config '../tailwind.config.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@plugin '@tailwindcss/typography';
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --font-ui: var(--font-english), var(--font-mincho), serif;
  --font-mono: var(--font-english-mono), monospace;
  --font-formal: var(--font-english-serif), var(--font-mincho), serif;
  --font-fancy: var(--font-english-fancy), var(--font-mincho), serif;
  --font-ja: var(--font-english-serif), var(--font-mincho), serif;
  --font-ipa: var(--font-english-ipa), var(--font-english-serif), serif;
  --breakpoint-laptop: 950px;
}

.dropcap.has-dropcap-first article div:first-of-type:not(.not-dropcap) {
  display: flow-root;
}

.dropcap.has-dropcap-first article div:first-of-type:not(.not-dropcap)::first-letter {
  float: left;
  font-size: 3.7em;
  padding-right: 0.08em;
  margin-top: 0.14em;
  line-height: 0.6;
  font-family: var(--font-fancy);
}

.dropcap-zh.dropcap.has-dropcap-first article div:first-of-type:not(.not-dropcap)::first-letter {
  margin-top: 0.05em;
  font-size: 3.4em;
}

span.convening {
  font-family: var(--font-formal);
  font-variant-caps: small-caps;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.emoji-cover-bg {
  background-color: var(--emoji-bg-light);
}

html.dark .emoji-cover-bg {
  background-color: var(--emoji-bg-dark);
}
