@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: #FAFDF6;
}

@media(prefers-color-scheme: dark) {
    html {
        color: #383E38;
    }
}

body {
    counter-reset: sidenote-counter;
}

blockquote .sidenote,
blockquote .marginnote,
.sidenote,
.marginnote {
    float: right;
    clear: right;
    vertical-align: baseline;
    position: relative;
    font-style: normal;
    font-size: 0.7rem;
    width: 80%;
    margin-right: -80%;
    padding-left: 3rem;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.7rem;
    top: -0.5rem;
    left: 0rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 0.9rem;
    left: -0.8rem;
    top: 1rem;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem;
}

.margin-toggle {
    display: none;
}